.CouponCard{
border-style: ridge;
    width: 25%;
    background-color: coral;
    color: white;
}
.login-form {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Added to center content horizontally */
    height: 550px; /* Corrected spelling from "hight" to "height" */
    width: 40%;
    max-width: 500px; /* Added to ensure responsiveness on smaller screens */
    padding: 5.5rem;
    margin: auto; /* Centers the form on the page */
    border-radius: 250px; /* Adds rounded corners for better aesthetics */
    box-shadow: 0 50px 100px rgba(0, 0, 0, 50); /* Adds a subtle shadow for a pop-out effect */
}