
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}

.AdminHome {
    display: flex;
    flex-direction: column;
    margin-left: 500px;
    padding: 20px;
    box-sizing: border-box;
    height: 90vh;
    overflow-y: auto;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.8rem;
    color: #4a4a8e;
    margin-bottom: 5px;
}

h4 {
    font-size: 1rem;
    color: #666;
    margin-bottom: 15px;
}


.CompaniesList, .CustomersList {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 15px;
    padding-bottom: 10px;
    scroll-behavior: smooth;
    max-width: 100vw;
    box-sizing: border-box;

}

.CompaniesList > div, .CustomersList > div {
    min-width: 200px; /* Minimum width for each card */
    max-width: calc(100% / 6); /* Dynamically adjust width to fit more cards in view */
    flex-shrink: 0; /* Prevent shrinking of cards */
}


.CompaniesList, .CustomersList {
    max-width: calc(100vw - 270px); /* Subtract sidebar + padding space from full width */
}

hr {
    border-top: 2px solid #ddd;
}
