
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sidebar a {
    color: white;
    text-decoration: none;
    margin: 10px 0;
}

.sidebar a:hover {
    background-color: #555;
}

.content {
    margin-left: 220px; /* Ensure this matches the sidebar width + padding */
    padding: 20px;
}
